.App {
  text-align: center;
  font-size:3rem;
}
button{
  font-size:3rem;
  border-radius: 5%;
  border: none;
  margin: 4%;
  padding: 2%;
  opacity:50%;
  }
  button:hover {
  font-size:3.3rem;
  opacity: 100%;
  }